@{ViewData["Title"] = "Banner";}
<a asp-area="Admin" asp-controller="Banner" asp-action="CreateBanner" style="font-size:30px;"><i class="fas fa-plus"></i></a>
@model List<ResultBannerDto>
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Resim</th>
        <th colspan="2">İşlemler</th>
    </tr>
    @{
        int counter = 0;
        foreach (var banner in Model)
        {
            counter++;
            <tr>
                <th>@counter</th>
                <td>@banner.Title</td>
                <td><img src="@banner.ImageUrl" style="height:75px;width:75px;" /></td>
                <td>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Banner" asp-action="UpdateBanner" asp-route-id="@banner.BannerId"><i class="fas fa-pencil-alt"></i></a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Banner" asp-action="RemoveBanner" asp-route-id="@banner.BannerId"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    }
</table>